@media (-moz-bool-pref: "zen.tabs.vertical") {
    /* Essentials icon size */
    :root:has(#theme-icon-tweaker[uc-essentials-favicon-size="small"]) {
        .tabbrowser-tab[zen-essential="true"] .tab-icon-pending,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-image,
        .tabbrowser-tab[zen-essential="true"] .tab-sharing-icon-overlay,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-overlay {
            height: 16px !important;
            width: 16px !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-essentials-favicon-size="normal"]) {
        .tabbrowser-tab[zen-essential="true"] .tab-icon-pending,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-image,
        .tabbrowser-tab[zen-essential="true"] .tab-sharing-icon-overlay,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-overlay {
            height: 18px !important;
            width: 18px !important;
        }
        .tabbrowser-tab[zen-essential="true"] .tab-throbber {
            transform: scale(1.125) !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-essentials-favicon-size="large"]) {
        .tabbrowser-tab[zen-essential="true"] .tab-icon-pending,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-image,
        .tabbrowser-tab[zen-essential="true"] .tab-sharing-icon-overlay,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-overlay {
            height: 20px !important;
            width: 20px !important;
        }
        .tabbrowser-tab[zen-essential="true"] .tab-throbber {
            transform: scale(1.25) !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-essentials-favicon-size="x-large"]) {
        .tabbrowser-tab[zen-essential="true"] .tab-icon-pending,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-image,
        .tabbrowser-tab[zen-essential="true"] .tab-sharing-icon-overlay,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-overlay {
            height: 26px !important;
            width: 26px !important;
        }
        .tabbrowser-tab[zen-essential="true"] .tab-throbber {
            transform: scale(1.5) !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-essentials-favicon-size="xx-large"]) {
        .tabbrowser-tab[zen-essential="true"] .tab-icon-pending,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-image,
        .tabbrowser-tab[zen-essential="true"] .tab-sharing-icon-overlay,
        .tabbrowser-tab[zen-essential="true"] .tab-icon-overlay {
            height: 34px !important;
            width: 34px !important;
        }
        .tabbrowser-tab[zen-essential="true"] .tab-throbber {
            transform: scale(1.75) !important;
        }
    }

    /* Pinned tabs icon size */
    :root:has(#theme-icon-tweaker[uc-pinned-favicon-size="small"]) {
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-pending,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-image,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-sharing-icon-overlay,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-overlay {
            height: 16px !important;
            width: 16px !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-pinned-favicon-size="normal"]) {
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-pending,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-image,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-sharing-icon-overlay,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-overlay {
            height: 18px !important;
            width: 18px !important;
        }
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-throbber {
            transform: scale(1.125) !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-pinned-favicon-size="large"]) {
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-pending,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-image,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-sharing-icon-overlay,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-overlay {
            height: 20px !important;
            width: 20px !important;
        }
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-throbber {
            transform: scale(1.25) !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-pinned-favicon-size="x-large"]) {
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-pending,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-image,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-sharing-icon-overlay,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-overlay {
            height: 26px !important;
            width: 26px !important;
        }
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-throbber {
            transform: scale(1.5) !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-pinned-favicon-size="xx-large"]) {
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-pending,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-image,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-sharing-icon-overlay,
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-icon-overlay {
            height: 34px !important;
            width: 34px !important;
        }
        .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-throbber {
            transform: scale(1.75) !important;
        }
    }

    /* Normal tabs icon size */
    :root:has(#theme-icon-tweaker[uc-normal-favicon-size="x-small"]) {
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-pending,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-image,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-sharing-icon-overlay,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-overlay {
            height: 12px !important;
            width: 12px !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-normal-favicon-size="small"]) {
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-pending,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-image,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-sharing-icon-overlay,
        .tabbrowser-tab:not([pinned]):not([zen -essential="true"]) .tab-icon-overlay {
            height: 16px !important;
            width: 16px !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-normal-favicon-size="normal"]) {
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-pending,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-image,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-sharing-icon-overlay,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-overlay {
            height: 18px !important;
            width: 18px !important;
        }
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-throbber {
            transform: scale(1.125) !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-normal-favicon-size="large"]) {
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-pending,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-image,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-sharing-icon-overlay,
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-icon-overlay {
            height: 20px !important;
            width: 20px !important;
        }
        .tabbrowser-tab:not([pinned]):not([zen-essential="true"]) .tab-throbber {
            transform: scale(1.25) !important;
        }
    }

    /* Workspace icons size */
    :root:has(#theme-icon-tweaker[uc-workspace-icon-size="x-small"]) {
        #zen-workspaces-button {
            font-size: x-small !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-workspace-icon-size="small"]) {
        #zen-workspaces-button {
            font-size: small !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-workspace-icon-size="medium"]) {
        #zen-workspaces-button {
            font-size: medium !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-workspace-icon-size="large"]) {
        #zen-workspaces-button {
            font-size: large !important;
        }
    }

    /* Current workspace indicator icon size */
    :root:has(#theme-icon-tweaker[uc-workspace-current-icon-size="small"]) {
        .zen-current-workspace-indicator .zen-current-workspace-indicator-icon {
            font-size: 12px !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-workspace-current-icon-size="normal"]) {
        .zen-current-workspace-indicator .zen-current-workspace-indicator-icon {
            font-size: 14.5px !important;
        }
    }

    :root:has(#theme-icon-tweaker[uc-workspace-current-icon-size="large"]) {
        .zen-current-workspace-indicator .zen-current-workspace-indicator-icon {
            font-size: 16px !important;
        }
    }
}
